<!DOCTYPE html>
<html>
    <head>
        <title>Signup form </title> 
    </head>
    <body>
        <p> <h1>SignUp Form</h1></p>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.first_name.label }} {{ form.first_name }}
                <br>
                {{ form.last_name.label }} {{ form.last_name }}
                <br>
                {{form.email.label}}{{form.email}}
                <br>
                {{form.phone_number.label}}{{form.phone_number}}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
    </body>
</html>